NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/habitra_dev?schema=public"

# Better Auth (FASE 3)
BETTER_AUTH_SECRET="cambia-esto-por-un-secreto-largo"
BETTER_AUTH_URL="http://localhost:3000"

# Upload provider (MVP mock por ahora)
UPLOAD_PROVIDER="mock"
UPLOAD_BASE_URL="http://localhost:3000/uploads"
